# Auto detect text files and perform LF normalization
* text=auto

# Include HScript files as Haxe
*.hscript linguist-language=Haxe
*.hsc linguist-language=Haxe
*.hxs linguist-language=Haxe
*.hxp linguist-language=Haxe